<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" >Kütüphane</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item  mx-4">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Ana Sayfa</a>
        </li>
        <li class="nav-item  mx-4">
          <a [routerLink]="['/booklist']" routerLinkActive="active" class="nav-link" href="#">Kitap Ara</a>
        </li>
        <li class="nav-item  mx-4">
          <a [routerLink]="['/admin/main']" routerLinkActive="active" class="nav-link" >Admin</a>
        </li>
        <li class="nav-item  mx-4">
          <a routerLink="/users/{{ user.id }}" routerLinkActive="active" class="nav-link" >Kullanıcı</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
