<div class="container" style="background-color: #cbffc9;">
  <div class="row mt-5" >
    <div class="col-md-4 p-3">

      <form>

        <div class="form-group">
          <label class="my-2"><b>Kullanıcı Adı:</b></label>
          <input type="text" #userRealName  class="form-control" [value]="activeUser.realname" disabled>
        </div>
        <div class="form-group">
          <label class="my-2"><b>Kullanıcı Soyadı:</b></label>
          <input type="text" #userRealSurname class="form-control" [value]="activeUser.realsurname" disabled>
        </div>
        <div class="form-group">
          <label class="my-2"><b>Kullanıcı username:</b></label>
          <input type="text" #username class="form-control" [value]="activeUser.name" disabled>
        </div>
        <div class="form-group">
          <label class="my-2"><b>Kullanıcı Şifresi:</b></label>
          <input type="password" #password class="form-control" [value]="activeUser.password" disabled>
        </div>
        <div class="form-group">
          <label class="my-2"><b>Aldığı Kitap:</b></label>
          <input type="text" #bookn class="form-control" [value]="book?.name" disabled>
        </div>
        <button class="btn btn-danger mt-3" type="button" *ngIf="btnEmptyBook" (click)="removeBook()">Kitabı Bırak</button>

      </form>







    </div>


    <div class="col-md-8">
      <div class="text-center mt-5">
        <img src="assets/img/user.png">
        <p><b>{{user.realname}} {{user.realsurname}}</b></p>
        <button class="btn btn-primary" (click)="logOut()">Çıkış Yap</button>
      </div>

    </div>





  </div>
</div>
